{% extends 'users/base.html' %}
{% load static %}
{% block head %}
<title>AI宝贝-注册页面</title>
{% endblock head %}



{% block content %}
     <style>
        html,body {
            margin: 0;
            padding: 0;
            height: 100%;
            //overflow: hidden;
            background-image: url("{% static 'users/images/register-image2.jpg' %}"); /* 背景图片路径 */
            background-size: cover; /* 确保图片覆盖整个页面 */
            background-repeat: no-repeat; /* 防止背景图片重复 */
            background-position: center center; /* 图片居中显示 */
              background-attachment: fixed; /* 固定背景图片 */
        }
     </style>
    
<div class="box" style="background-color: #ffffffaa;">
    <h1 class=" is-uppercase has-text-centered has-text-weight-bold">AI宝贝
        <br><span class="tag">注册</span>
    </h1>

    <hr class="dropdown-divider">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" style="margin-top: 1em;" class="button is-link is-fullwidth"  value="提交">
    </form>
</div>
{% endblock content %}
    
